
<table>
<tr><th>name</th><th></th></tr>
<% @sources.each do |s| %>
<tr>
  <td><%= link_to s.name, s %></td>
  <td><%= link_to "Localities", :controller => "locality", :source => s.id %></td>
</tr>
<% end %>
</table>
