<table>
<tr><th>locality</th><th>name</th></tr>
<% @precincts.each do |p| -%>
<tr style="background-color: <%= cycle("#DDDDDD","none")%>; ">
<td><%= link_to p.locality.name, p.locality %></td>
<td><%= link_to p.name, :controller => "precinct", :action => "show", :id => p.id %></td></tr>
<% end -%>
</table>
