<html>
<head>
<title>VIP demo<%= @title ? " | "+@title : '' %></title>
<%= stylesheet_link_tag "style" %>
<link rel="shortcut icon" href="/favicon.gif" />
</head>
<body>
<div style="width:120px; background-color:#eee; padding:2px; border:3px solid black; clear:none; position:absolute;">
  <%= link_to "Lookup", :controller => "precinct", :action => "lookup"%><br/>
  <%= link_to "Sources", :controller => "source" %><br/><br/>
  <font size="-2">Note: Data is from the November 2008 election.  It should not be used for upcoming elections.</font>
</div>

<div style="width:120px; top:140px; background-color:#eee; padding:2px; border:3px solid black; clear:none; position:absolute;">
<div><b>Powered by:</b><br/> 
<a style="border: 0px" href="http://neworganizing.com"><img style="margin-right:10px; border: 0px; height:30px;" alt="NOI" src="/images/noi_transp.png"></a>
</div>

<div style="margin-top:15px;">
<b>Data from:</b><br/>
 <a href="http://www.votinginformationproject.org"><img style="border:0px; margin-right:10px;" alt="Voting Information Project" src="/images/vip_logo.png"/></a> 
</div>
<div style="margin-top:15px;">
<b>Contact:</b><br/>
<a href="mailto:matt@neworganizing.com">Webmaster</a>
</td>
</div>
</div>

<div style="width:600px; height:10px; margin-bottom:5px; font-size:4px; clear:none; background-color:#680; margin-left:auto; margin-right:auto; ">&nbsp;
</div>

<div style="width:600px; height:20px; margin-bottom:5px; clear:none; background-color:#8a2; margin-left:auto; margin-right:auto; ">&nbsp;
</div>

<div style="width:580px; align:center; background-color:#eee; margin-top:5px; margin-left:auto; margin-right:auto; padding:10px;">
  <div id="breadcrumb">
    <%= render_crumbs %>
  </div>
  <div id="maincontent">
    <%= yield %>
  </div>
</div>

<div style="width:600px; height:10px; margin-top:5px; margin-bottom:5px; font-size:4px; clear:none; background-color:#8a2; margin-left:auto; margin-right:auto; ">&nbsp;


</body>
</html>
