<html>
<head>
<title>VIP demo<%= @title ? " | "+@title : '' %></title>
<%= stylesheet_link_tag "style" %>
<link rel="shortcut icon" href="/favicon.gif" />
</head>
<body>
<div id="left_top_box" class="left">
  <%= link_to "Lookup", :controller => "precinct", :action => "lookup"%><br/>
  <%= link_to "Sources", :controller => "source" %><br/><br/>
  <font size="-2">Note: Data is from the November 2008 election.  It should not be used for upcoming elections.</font>
</div>

<div id="left_bottom_box" class="left">
<div><b>Powered by:</b><br/> 
<a style="border: 0px" href="http://neworganizing.com"><img style="margin-right:10px; border: 0px; height:30px;" alt="NOI" src="/images/noi_transp.png"></a>
</div>

<div style="margin-top:15px;">
<b>Data from:</b><br/>
 <a href="http://www.votinginformationproject.org"><img style="border:0px; margin-right:10px;" alt="Voting Information Project" src="/images/vip_logo.png"/></a> 
<div style="margin-top:15px;">
<b>Source Code:</b><br/>
<a href="http://github.com/neworganizing"><img src="http://github.com/images/modules/header/logov3.png" style="border:0px; width:75px;"></a>
</td>
</div>

</div>
<div style="margin-top:15px;">
<b>Contact:</b><br/>
<a href="mailto:ethan@neworganizing.com">Webmaster</a>
</td>
</div>

</div>

<div id="head1" class="middle">&nbsp;</div>
<div id="head2" class="middle">&nbsp;</div>

<div id="container" class="middle" >
  <div id="breadcrumb" style="text-align:left;">
    <%= render_crumbs %>
  </div>
  <div id="maincontent">
    <%= yield %>
  </div>
</div>

<div id="foot1" class="middle">&nbsp;</div>


</body>
</html>
